application.secret="****************************************************************"
application.langs="en"

application.domain = "boids.info"
application.maxAddress = 1000

db.default.driver=com.mysql.jdbc.Driver
db.default.url="jdbc:mysql://localhost/boids"
db.default.user="play"
db.default.password="****************"

evolutionplugin=disabled

logger.root=INFO
logger.play=INFO
logger.application=INFO

session.secure=true
