@(user: Option[User])(implicit request: RequestHeader)

@import helper._
@import play.api.Play

@main("FAQ", user) {

<h1>Q&A</h1>

<h3>スパムメールを防ぎたいなら、GmailやYahoo!メールのエイリアス機能を使えば良いのでは？</h3>
<p>Gmailのエイリアスは、(元のアドレス)+(任意の文字列)@@gmail.com という形式なので、あるエイリアスから元のメールアドレスが推測可能だという問題があります。
また、+が含むメールアドレスをバリデーションで弾くサービスが多々あります。
元のメールアドレスと全く異なるエイリアスを発行可能なサービスもありますが、10個程度のエイリアスしか発行できず、サービスごとに使い分けるには足りません。</p>

<h3>メールサイズの上限は？</h3>
<p>1通あたり10MB、メールボックス全体で100MBです。</p>

<h3>無料？</h3>
<p>2015年1月現在は無料です。</p>

<h3>メールをウェブで読みたい。IMAPを使いたい</h3>
<p><a href="https://support.google.com/mail/answer/21289?hl=ja&authuser=1">Gmail</a>でメールを受信することをお勧めします。</p>

<h3>@@boids.infoからメールを送信したい</h3>
<p>スパムを送る人がいると面倒なので、メールを送信する機能は付けません。
Gmailのメール送信元を変更する機能をお勧め……したかったのですが、<a href="https://productforums.google.com/forum/?hl=ja#!category-topic/gmail-ja/kK7cJQjc4_k">今は無くなった</a>ようですね……。</p>

<h3>パスワードを自分で設定したい</h3>
<p>リスト型攻撃が蔓延しパスワードの使い回しができなくなった今となっては、人間がパスワードを決めるのは現実的ではありません。
ユーザーが使用可能文字種や最小・最大パスワード長を読み取って、手元でパスワードを生成するくらいなら、サーバーが生成した方が楽だと考え、この仕様になっています。</p>

<h3>好きなIDやメールアドレスを使いたい</h3>
<p>所詮は識別子なので意味のある文字列である必要は無いのでは、ということでランダム文字列にしてみました。</p>

}
