@(user: User, password: String, resetKey: String)(implicit request: RequestHeader)

@main("newaccount", None) {
  <p>
    あなたのアカウントを発行しました。
  </p>
  <p>
    パスワードとパスワードリセットキーはこの画面にしか表示されません。
    パスワード管理ソフトなどに保存してください。
  </p>
  <p>
    パスワードリセットキーは、パスワードを紛失した場合や第三者にパスワードを変更された場合に、パスワードを初期化するためにのみ使用します。
    再発行や変更はできません。
  </p>
  <h2>アカウント情報</h2>
  <dl class="dl-horizontal">
    <dt>ID</dt>
    <dd>@user.name</dd>
    <dt>パスワード</dt>
    <dd>@password</dd>
    <dt>パスワードリセットキー</dt>
    <dd style="word-wrap: break-word">@resetKey</dd>
  </dl>
}
