@(user: Option[User])(implicit request: RequestHeader)

@import helper._
@import play.api.Play

@main("resetpass", user) {

<h1>パスワードの初期化</h1>

<p class="warning">
  現在のパスワード、もしくはパスワードリセットキーを入力して、パスワードをランダムな文字列に変更します。<br>
  POP3のパスワードも同時に変更されます。
</p>

<div class="panel panel-default">
  <div class="panel-heading">現在のパスワードで初期化</div>
  <div class="panel-body">
    @if(request.flash.get("errorPassword").isDefined) {
      <p class="warning">@request.flash.get("errorPassword").get</p>
    }
    @if(user.isDefined) {
      <form action="/resetpass/password" method="post">
        @CSRF.formField
        <dl class="dl-horizontal">
          <dt>ID</dt>
          <dd>@user.get.name</dd>
          <dt>パスワード</dt>
          <dd><input class="form-control" type="password" name="password"></dd>
        </dl>
        <dl class="dl-horizontal">
          <dt></dt>
          <dd><button type="submit" class="btn btn-danger">初期化</button></dd>
        </dl>
      </form>
    } else {
      <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>ログインしてください</dd>
        <dt>パスワード</dt>
        <dd><input class="form-control" disabled="disabled"></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt></dt>
        <dd><button type="submit" class="btn btn-danger" disabled="disabled">初期化</button></dd>
      </dl>
    }
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">パスワードリセットキーで初期化</div>
  <div class="panel-body">
    @if(request.flash.get("errorResetKey").isDefined) {
      <p class="warning">@request.flash.get("errorResetKey").get</p>
    }
    <form action="/resetpass/resetkey" method="post">
      @CSRF.formField
      <dl class="dl-horizontal">
        <dt>パスワードリセットキー</dt>
        <dd><input class="form-control" name="resetkey"></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt></dt>
        <dd><button type="submit" class="btn btn-danger">初期化</button></dd>
      </dl>
    </form>
  </div>
</div>

}
